/* body { 
    align-items: center;
    flex-direction: column;
    line-height: 1.3;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: var(--dark);
    color: var(--light);
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    display: flex;
    flex-direction: column;
    align-items: center;
}
div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin
} */

/* button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-spacing: 50px;
} */
